/* standard selectors */

.inline {
    display: inline;
}

.inlineblock {
    display: inline-block;
}

.block {
    display: block;
    padding: 5px;
    margin: 10px;
}

.flex {
    display: flex;
    gap: 10px;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 1;
}

/* * {
    outline: 2px solid red;
} */


/* end standard selectors */

* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: calc(15px + 1vw);
}

.maincontent {
    margin-top: 100vh;
    margin-left: 15%;
    margin-right: 15%;
    padding: 10px;
}

.center {
    display:flex;
    justify-content: space-around;
}

.header {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1;
    top: 0;
    display: flex;
    justify-content: center;
    align-content: center;

}

.reviews {
    display: flex;
    flex-direction: column;
    gap: 80px;
}

.reviewcontent {
    display: flex;
    gap: 20%
}

textarea{
    height: 160px;
    width: 60%;
    min-width: 260px !important;
    margin-top: 80px;
    margin-bottom: 20px;
}

button {
    margin: 20px;
}

.name {
    font-weight: 800;
}

.reviewcontent .text {
    font-family: 
}